@model MyEvernote.Entities.Category

@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Kategori Sil</h2>
        <h3>Bunu silmek istediğinize emin misiniz?</h3>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>

                <td>
                    @Html.DisplayFor(model => model.CreatedDate)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedDate)
                </th>

                <td>
                    @Html.DisplayFor(model => model.UpdatedDate)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedUserName)
                </th>

                <td>
                    @Html.DisplayFor(model => model.CreatedUserName)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>

                <td>
                    @Html.DisplayFor(model => model.Title)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>

                <td>
                    @Html.DisplayFor(model => model.Description)
                </td>
            </tr>
        </table>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <button type="submit" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span> Sil
                </button>

                <a href="/Category/Index" class="btn btn-default btn-sm" title="Edit">
                    <span class="glyphicon glyphicon-arrow-left"></span> Listeye Dön
                </a>
            </div>
        }
    </div>
</div>