@model MyEvernote.Entities.EvernoteUser

@{
    ViewBag.Title = "Kullanıcı Detay Sayfası";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <table class="table">
            <tr>
                <th class="col-md-3">
                    @Html.DisplayNameFor(model => model.Name)
                </th>

                <td class="col-md-9">
                    @Html.DisplayFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>

                <td>
                    @Html.DisplayFor(model => model.Surname)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>

                <td>
                    @Html.DisplayFor(model => model.Username)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>

                <td>
                    @Html.DisplayFor(model => model.Email)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>

                <td>
                    @Html.DisplayFor(model => model.Password)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>

                <td>
                    @Html.DisplayFor(model => model.IsActive)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IsAdmin)
                </th>

                <td>
                    @Html.DisplayFor(model => model.IsAdmin)
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-8 col-md-offset-2">
        @Bootstrap.LinkButton("/EvernoteUser/Edit/" + Model.Id, "warning", "btn-sm", "Edit", "edit", " Düzenle")
        @Bootstrap.LinkButton("/EvernoteUser/Index", "default", "btn-sm", "Edit", "arrow-left", " Listeye Dön")
    </div>
</div>


